@use '@angular/material' as mat;
@include mat.core();
$ffbb-primary: mat.define-palette(mat.$indigo-palette);
$ffbb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$ffbb-warn: mat.define-palette(mat.$red-palette);
$ffbb-theme: mat.define-light-theme((
  color: (
    primary: $ffbb-primary,
    accent: $ffbb-accent,
    warn: $ffbb-warn,
  )
));
@include mat.all-component-themes($ffbb-theme);
@include mat.core();
$green-palette: (
  50: #E8F6E8,
  100: #C9E9C5,
  200: #A8DA9F,
  300: #86CB79,
  400: #6BC05C,
  500: #01CE77FF,
  600: #49AB39,
  700: #3F9F30,
  800: #358228,
  900: #237E1A,
  A100: #8CFFEF,
  A200: #36DF6D,
  A400: #5AFE3D,
  A700: #4FFE30,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #FFFFFF,
    400: #FFFFFF,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #FFFFFF,
    A400: #FFFFFF,
    A700: #FFFFFF,
  )
);

@import "base";

.bottom-waves{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
