.hero-section {
  height: 85vh;
  background-color: var(--black-blue);
  position: relative;

  .rond-2{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--ffbb-blue);
    filter: blur(500px);
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
    opacity: .5;
  }

  .hero-container{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .hero-text{
    width: 100%;
    max-width: 800px;
    margin-top: 290px;
    text-align: center;
    z-index: 2;
  }

  .hero-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 55px;
    color: var(--ffbb-blue);

    span{
      color: #fff;
      font-weight: 600;
      font-size: 110px;
      display: block;
      margin: 3rem;
    }
  }
}



.tester-section{
  background-color: var(--black-blue);
  color: #fff;
  width: 100%;
  max-width: 100%;
  padding-bottom: 220px;

  .container{
    padding: 0 200px;
  }

  .quizz-test{
    width: 100%;
    margin-top: 2rem;
  }

  .loading-bar{
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 1rem 0;

    .progression{
      width: 10%;
      height: 100%;
      background-color: var(--ffbb-blue);
      border-radius: 10px;
      transition: .25s ease-in-out;
      position: relative;
    }

    .question-number{
      position: absolute;
      top: -20px;
      right: -10px;
      font-size: 12px;
      font-weight: 900;
    }
  }

  .quizz-container{
    background-color: var(--dark-blue);
    border-radius: 20px;
    min-height: 200px;
    margin-top: 2rem;
    padding: 2rem;
  }

  .reponse-container{
    margin-top: 1rem;

    .reponse, .next-question{
      label{
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      button{
        margin-right: 1rem;
      }
    }
  }

  .question-container{
    .question-wrapper{
      margin-top: 1rem;
    }
  }
}

.shake{
  animation: shake 0.25s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10%, 90% { transform: translateX(-5px); }
  30%, 70% { transform: translateX(5px); }
  50% { transform: translateX(0); }
}



.check{
  font-weight: 900;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.correct{
  color: #3F9F30;
}

.incorrect{
  color: #FF0000;
}

.next-question{
  display: none;
}


@media (max-width: 1050px) {
  .hero-section{
    display: flex;
    flex-direction: column;
  }

  .hero-text{
    margin-top: 90px !important;
  }

  .hero-container, .hero-img{
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

}
