<section class="hero-section">
  <div class="hero-container ">
    <div class="hero-text">
      <h1 class="hero-title">
        Apprendre. Progresser. Évoluer.
        <span>Arbitrer.</span>
      </h1>
    </div>
  </div>

  <div class="rond-1"></div>
  <div class="rond-2"></div>
</section>

<section class="tester-section">
  <div class="container-80 p-rl-1">
    <h1>Testons vos connaissances ?</h1>

    <div class="quizz-test">
      <div class="loading-bar">
        <div class="progression">
          <span class="question-number">{{questionNumber}}/10</span>
        </div>
      </div>

      <div class="quizz-container">
        <div class="question-container">
          <h1>{{q.article}} </h1>
          <div class="question-wrapper">
            <p>{{q.question}}</p>
          </div>
        </div>
        <div class="reponse-container">
          <div class="reponse">
            <button
              class="button-primary"
              value="{{r}}"
              #responseValue (click)="checkAnswer(responseValue, q)"
              id="{{q.id}}-{{r}}"
              *ngFor="let r of q.proposition">{{r}}</button>
          </div>
          <div class="next-question">
            <button class="button-primary" (click)="nextQuestion()">Question suivante</button>
          </div>
          <p class="check">{{check}}</p>
          <p>{{feedback}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
