<footer>
  <div class="container-80 container-footer p-rl-1">
    <div class="footer-col-container">
      <div class="footer-col">
        <p class="footer-title">Apprendre</p>
        <a href="#">Règlements</a>
        <a href="#">Interpretations</a>
        <a href="#">Mécanique d'arbitrage à 2</a>
        <a href="#">Mécanique d'arbitrage à 3</a>
        <a href="#">Gestuelles</a>
      </div>

      <div class="footer-col">
        <p class="footer-title">Évoluer</p>
        <a href="#">Gestion</a>
        <a href="#">Communiquer</a>
        <a href="#">Gérer ses émotions</a>
        <a href="#">Analyser le jeu</a>
        <a href="#">Le règlement en vidéo</a>
        <a href="#">Les interpretations en vidéo</a>
      </div>

      <div class="footer-col">
        <p class="footer-title">QCM</p>
        <a href="#">Entraînement</a>
        <a href="#">Par Article</a>
        <a href="#">Vidéo</a>
        <a href="#">Examen</a>
      </div>

      <div class="footer-col">
        <p class="footer-title">Pratique</p>
        <a href="#">Comment effectuer un rapport ?</a>
        <a href="#">Programme d'entraînement</a>
      </div>
    </div>
    <div class="bottom-info">
      <div class="bottom-links">
        <a href="#">Noecode &bullet; 2023</a>
        <a href="#">RGPD</a>
        <a href="#">Mentions légales</a>
        <a href="#">Contact</a>
        <a href="#">Plan du site</a>
      </div>
      <div class="bottom-socials">
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>
