<div class="carousel" [id]="'carousel-' + carousel.id">
  <div class="carousel-cover"></div>
  <img class="carousel-image" [src]="carousel.image" alt="image-ffbb">
  <div class="carousel-caption">
    <div class="carousel-team">
      {{carousel.team}}
    </div>
    <p class="carousel-title">{{carousel.title}}</p>
    <p class="carousel-description">{{carousel.description}}</p>
    <p class="carousel-legend">{{carousel.legend}}</p>
  </div>
</div>
