.carousel{
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: relative;

  .carousel-cover{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all .5s ease;
  }

  .carousel-caption{
    position: absolute;
    bottom: 200px;
    left: 300px;
    z-index: 2;
    color: #fff;
    width: 800px;
    max-width: 100%;

    .carousel-team{
      font-size: 10px;
      background-color: var(--ffbb-blue);
      width: fit-content;
      padding: 8px 20px;
      border-radius: 20px;
      margin-bottom: .25rem;
    }
    .carousel-title{
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 1rem;
    }

    .carousel-description{
      font-size: 20px;
      font-weight: 400;
    }

    .carousel-legend{
      font-size: 12px;
      font-style: italic;
    }
  }
}
