<nav class="container" [ngClass]="{'scroll' : isScroll}">
  <div class="nav-container p-rl-1">
    <div class="nav-wrapper">
      <div class="nav-menu">
        <a class="ref-path" routerLink="/">Ref'Path</a>
        <a href="#">Devenir arbitre</a>
        <a href="#">S'entraîner</a>
        <a href="#">Évoluer</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="nav-end">
      <a class="login" routerLink="/connexion">Connexion</a>
      <a class="button-primary" routerLink="/inscription">Inscription</a>

      <div class="small-links-lang">
        <div class="lang-selector">
        </div>
      </div>
      <div class="search">
      </div>
    </div>
  </div>

</nav>
