nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all 0.5s ease;
  background-color: transparent;

  &.scroll{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: var(--black-blue);
  }
}

.nav-container{
  width: 100%;
  height: 80px;
  max-width: 80rem;
  margin: 0 auto;
  transition: all 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.nav-wrapper{
  display: flex;
  align-items: center;

  .logo-ffbb{
    img{
      width: 35px;
    }
  }

  .nav-menu{

    .ref-path{
      font-weight: 900;
    }

    a{
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: var(--font-md);
      margin-left: 70px;
      color: #fff;

      &:first-child{
        margin-left: 0;
      }
    }
  }
}

.nav-end{
  display: flex;
  align-items: center;

  .login{
    background: transparent;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
  }
}
